.jumbo{
    color: aquamarine;
    background-color: rgb(69, 109, 81);
    height: 225px;
}
.content1 {
    background-color: bisque;
}

.container {
    padding-bottom: 12px;
    
    h1 {
        font-family: 'Golos Text', sans-serif;
    }
}
